<!--<div class="projects-container">-->
<!--  <mat-grid-list cols="4" rowHeight="400px">-->
<!--    <mat-grid-tile *ngFor="let project of projects">-->
<!--      <mat-card class="project-card">-->
<!--        <mat-card-header>-->
<!--          <mat-card-subtitle>{{project.name}}</mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <img class="project-image" mat-card-image src="assets/projects.jpg" alt="Project">-->
<!--        <mat-card-content>-->
<!--          <p>{{project.description}}</p>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
<!--</div>-->

<div class="dashboard" style="display: flex; justify-content: center;">

  <div class="container-dashboard" *ngFor="let project of projects">
    <div class="gambar">
      <img src="assets/projects.jpg" alt="Paris">
    </div>
    <div class="container-tengah">
      <div class="judul">
        <h4>{{project.name}}</h4>
      </div>
      <div class="container-tengah-location">
        <i class="fa fa-map-pin" style="font-size:20px;color:#a0a0a0;"></i>
        <h5>{{project.description}}</h5>
      </div>
      <div class="attendance">
        <div class="attendance-left">
          <h3 class="jumlah_peserta">0</h3>
          <h5 class="judul_peserta">Jumlah Peserta</h5>
        </div>
        <div class="attendance-right">
          <h3 class="jumlah_peserta">{{project.ProjectMembers.length}}</h3>
          <h5 class="judul_peserta">Task Pekerjaan</h5>
        </div>
      </div>
    </div>
    <div class="details">
      <a [routerLink]="['/project', project.id]" class="button button2">View Details</a>
    </div>
  </div>
</div>
