<div class="projects-container">
  <mat-grid-list cols="4" rowHeight="400px">
    <mat-grid-tile *ngFor="let project of projects">
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-subtitle>{{project.name}}</mat-card-subtitle>
        </mat-card-header>
        <img class="project-image" mat-card-image src="assets/projects.jpg" alt="Project">
        <mat-card-content>
          <p>{{project.description}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
